@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Poppins', sans-serif !important; 
    font-size: 18px;
    font-weight: 500;
}